body {
    background-color: rgb(128, 125, 125);
}
/* Загальні елементи */
h2,
h3 {
    font-size: 32px;
}
p {
    font-size: 24px;
}
/* ------------------ */
.link {
    color: darkred;
    font-size: 16px;
}
.header__title {
    font-size: 38px;
}
.header__image img {
    width: 1000px;
}
.menu__link {
    font-size: 18px;
    color: #fff;
}
.nav__link {
    color: #fff;
    font-size: 32px;
}
